@import "tailwindcss";

@theme {
  --color-maroon-50: #fdf8f8;
  --color-maroon-100: #f8ecec;
  --color-maroon-200: #f1d7d7;
  --color-maroon-300: #e5b9b9;
  --color-maroon-400: #d49090;
  --color-maroon-500: #bf6868;
  --color-maroon-600: #a84c4c;
  --color-maroon-700: #8c3e3e;
  --color-maroon-800: #743434;
  --color-maroon-900: #612f2f;
}

@layer base {
  body {
    @apply text-slate-800 bg-stone-50;
  }
}
